#header-image {
  background-image: url("../img/header.jpg");
  background-color: black;
  background-position: center top;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100%;
}
@media screen and (max-width: 992px) {
  #header-image {
    min-height: 50%;
    background-attachment: scroll;
    background-image: url("../img/header-trimmed.jpg");
  }
}
@media screen and (max-width: 600px) {
  #header-image {
    min-height: 210px;
    background-size: cover;
    background-attachment: scroll;
  }
}
#header-button {
  position: relative;
  top: 4vw;}

.parallax-container {
  height: 33%;
}
.parallax {
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallax1 {
  background-image: url("../img/reuben-photos/mornington-2.jpg");
}
#parallax2 {
  background-image: url("../img/bricks.jpg");
}
#parallax3 {
  background-image: url("../img/bricks.jpg");
}
.shadow-inset {
  -moz-box-shadow:    inset 0 0 50px #000000;
  -webkit-box-shadow: inset 0 0 50px #000000;
  box-shadow:         inset 0 0 50px #000000;
}

.tabs .indicator {
  background-color: #b71c1c;
}
.tabs .tab a:focus, .tabs .tab a:focus:active {
  background: transparent;
}

nav .btn-floating {
  margin: 10px 10px !important;
}
#mobile-social-buttons li a {
  margin: 10px;
}

/* label focus color */
.input-field input:focus + label,
.input-field textarea:focus + label {
  color: #b71c1c !important;
}
/* label underline focus color */
.input-field input:focus,
.input-field textarea:focus {
  border-bottom: 1px solid #b71c1c !important;
  box-shadow: 0 1px 0 0 #b71c1c !important
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #b71c1c;
}

/* photo gallery */
#gallery .col {
  padding: 0;
}
#gallery .card {
  margin: 0;
} 
#gallery .card-title {
  font-size: 16px !important;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

/* */
blockquote {
  font-style: italic;
  border-color: #b71c1c;
}
blockquote a {
  font-style: normal;
  margin-right: 10px;
}

.modal {
  height: 100% !important;
  max-height: 100%;
  width: 100vw !important;
  top: 0 !important;
}
/* 
.model-content {
  width: max-content;
} */
.modal .indicators .active {
  background-color:#b71c1c !important;
}

.collapsible .active .collapsible-header {
    color: #b71c1c;
}

#avatar, #avatar img {
  max-height: 106px;
}